body{
    background-color: #202020;
}

.main{

display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 10px;
}


#addbtn{
margin-top: 15px;
    padding: 10px;


}

.textarea{

margin-top: 15px;

}

#upload{
     color:white;
}

#file-upload-button{

    padding: 	10px;
}
